In [57]:
import pandas as pd
import numpy as np

belizelistingspath = 'belize_airbnb_listings.csv'
belize_df = pd.read_csv(belizelistingspath)


grouped_belize_df = belize_df.groupby('neighbourhood')

grouped_belize_df.count()
grouped_belize_price = grouped_belize_df[['price']].agg(['mean'])
grouped_belize_reviews = grouped_belize_df[['number_of_reviews']].agg(['sum'])
grouped_belize_availability = grouped_belize_df[['availability_365']].agg(['max'])

pt1_total_belize_grouped = pd.merge(grouped_belize_price, grouped_belize_reviews, on='neighbourhood')
pt2_total_belize_grouped = pd.merge(pt1_total_belize_grouped, grouped_belize_availability, on='neighbourhood')
pt2_total_belize_grouped

                            price number_of_reviews availability_365
                             mean               sum              max
neighbourhood
Belize Islands         399.442824             22995              365
Belize Mainland        288.273063              4105              365
Cayo                   205.847525              7356              365
Corozal                156.553846               492              365
Orange Walk            122.035714               415              365
Stann Creek Islands   1136.166667                69              365
Stann Creek Mainland   456.994690              4786              365
Toledo Mainland        222.978723               194              365